asgiref==3.2.10
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
crispy-forms-materialize==0.2
cryptography==3.1.1
Django==3.0.5
django-crispy-forms==1.12.0
django-materializecss-form==1.1.17
django-pwa==1.0.10
django-webpush==0.3.3
http-ece==1.1.0
idna==2.10
newsapi-python==0.2.6
py-vapid==1.7.1
pycparser==2.20
pytz==2020.1
pywebpush==1.9.4
requests==2.24.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.10
