{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5" href="{% url 'news-home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'business' %}">Business</a>
            <a class="dropdown-item" href="#">Health</a>
            <a class="dropdown-item" href="{% url 'entertainment' %}">Entertainment</a>
            <a class="dropdown-item" href="{% url 'sports' %}">Sports</a>
            <a class="dropdown-item" href="#">Travel</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">More</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-5" href="{% url 'Registration' %}">Sign Up</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Type something" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <!-- Body -->
  {% block body %}{% endblock %}

  <footer class="navbar navbar-danger bg-dark mt-5">
    <a class="navbar-brand" href="#">Terms of Use</a>
    <a class="navbar-brand" href="#">Privacy Policy</a>
    <a class="navbar-brand" href="{% url 'contact-us' %}">Contact Us</a>
    <a class="navbar-brand" href="{% url 'Feedback' %}">Feedback</a>
  </h6>
  </footer>