{% extends 'newsapp/base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>Business</title>
{% endblock %}

<!-- Body -->
{% block body %}
<body><nav class="navbar navbar-expand-lg navbar-danger bg-danger ">
    <li class="nav-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy7cnRA3tIIQxk-cE-VtdpWt4xuFxP6LcN1A&usqp=CAU" style="width: 80px;">
    </li>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link mr-3" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="Sports2.html">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mr-3" href="Business.html">Business</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Health</a>
              <a class="dropdown-item" href="#">Entertainment</a>
              <a class="dropdown-item" href="?#">Travel</a>
              <a class="dropdown-item" href="#">Politics</a>
            </div>
          </li>
          
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Type something" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  
  
    
  
  
    <title>Business</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  
  
    <section>
    <div class="card bg-light mb-3">
      <div class="row container mt-5">
          <div class="col-md-1"></div>
          <div class="col-md-9">
              <div class="card mb-3">
                  <img src="Andra.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Andhra Tops "Ease Of Doing Business" Ranking, UP Rises To Number 2 </h5>
                    <p class="card-text">New Delhi: Andhra Pradesh, followed by Uttar Pradesh and Telangana, topped the national ranking on ease of doing business ranking released by the Department for Promotion of Industry and Internal Trade today.
                      While Andhra Pradesh retained its ace position for the third year in a row, Uttar Pradesh emerged as the top performer in northern region after it climbed 10 places over its 2018 position, shows the ranking which is based on implementation of the Business Reform Action Plan for Atmanirbhar Bharat.</p>
                    <a href="#" class="btn btn-primary ">Read More</a>
                    <p class="card-text mt-3"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
          
        </div>    
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                      <div class="card mb-3" style="width: 18rem;">
                          <div class="card-header">Stock Updates</div>
                          <div class="card-body">
                            <h5 class="card-title">Sensex Falls Over 250 Points From Day's High As Financial, Energy Stocks Drop</h5>
                            <p class="card-text">Domestic stock markets gave up early gains on Thursday, amid selling pressure in banking, financial services and energy stocks. The S&amp;P BSE Sensex index dropped as much as 259.73 points from the strongest level of the day to hit 38,976.63 on the downside in early afternoon deals. The broader NSE Nifty 50 benchmark dropped to as low as 11,514.80, receding from an intraday high of 11,584.95. At 12:12 pm, the Sensex traded at 38,987.00, down 99.03 points - or 0.25 per cent - from its previous close, while the Nifty was up 5.10 points - or 0.04 per cent - at 11,540.10. </p>
                          </div>
              </div>      
              </div>
          </div>  
          
          <div class="row container mt-5">
              <div class="col-md-1"></div>
              <div class="col-md-9">
                  <h2>This is the head</h2>
              </div>
     
              <div class="col-md-1"></div>
              <div class="col-md-1">
                  <div class="card mb-3" style="width: 18rem;">
                      <div class="card-header">AD</div>
                      <div class="card-body">
                        <h5 class="card-title">Advertisment</h5>
                        <p class="card-text">The rupee ddomestic equities continued to put pressure on the rupee, say</p>
                      </div>
                  </div>    
              </div>
          </div>
  
         <div class="row container mt-5">
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img src="corp.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Cooperation, Competition Among States To Drive Economy Faster Towards $5 Trillion: Piyush Goyal</h5>
                    <p class="card-text">New Delhi: Commerce and Industry Minister Piyush Goyal said on Saturday that cooperation among states on one hand and competition on the other will collectively drive the economy faster towards the $5 trillion mark by 2025. "The Business Reform Action Plan of States is a reflection of confidence our states have that they can do better in attracting businesses and work for the prosperity of the people.</p>
                    <a href="#" class="btn btn-primary">More</a>
                  </div>
                </div>
          </div>
  
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img src="airlines.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">"Airlines Tough Business In Good Times": Trump To Help COVID-Hit Sector</h5>
                    <p class="card-text">Washington: President Donald Trump on Tuesday said his administration would help U.S. airlines facing sharp downturns in passenger traffic as a result of the novel coronavirus pandemic, but gave no details.
                      "We'll be helping the airlines. You have to help the airlines," Trump told reporters before departing on a visit to Kenosha, Wisconsin. "Airlines are a tough business in good times."</p>
                    <a href="#" class="btn btn-primary">More</a>
                  </div>
                </div>
          </div>
  
          <div class="col-md-1"></div>
          <div class="col-md-2">
              <div class="card" style="width: 18rem;">
                  <img src="aus.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Australian Government Appoints Former Cricketer Matthew Hayden As Trade Envoy To India</h5>
                    <p class="card-text">The Australian government has appointed former cricketer Matthew Hayden and Indian-origin politician Lisa Singh as trade envoys for advancing business ties with India. Three new appointments to the board of the Australia-India Council were announced on Monday. Foreign Affairs Minister Marise Payne said, "Ashok Jacob has been reappointed as chair, and will be joined by three new board members."</p>
                    <a href="#" class="btn btn-primary">More</a>
                  </div>
                </div>
          </div>
  
          <div class="col-md-2"></div>
          <div class="col-md-1">
              <div class="card mb-3" style="width: 18rem;">
                  <div class="card-header">Currency</div>
                  <div class="card-body">
                    <h5 class="card-title">Rupee Closes At 73.47 Against Dollar, Extends Losses To Second Day</h5>
                    <p class="card-text">The rupee dropped by 44 paise - or 0.60 per cent - to close at 73.47 against the US dollar on Thursday. It moved within a 21-paise range, between 73.21 and 73.48 during the four-hour session before ending near its intraday low. Strength in the greenback and weakness in domestic equities continued to put pressure on the rupee, say analysts.</p>
                  </div>
              </div>    
          </div>
      </div>
    </div>
    </section>
               
{% endblock body %}