{% extends 'newsapp/base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>Feedback</title>
<link rel="stylesheet" href="{% static 'newsapp/style.css' %}">
{% endblock %}


{% block body %}
<body>
    <section>
<div class="container">
<div class="logo">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy7cnRA3tIIQxk-cE-VtdpWt4xuFxP6LcN1A&usqp=CAU">
</div>
<div class="ContactForm">

    <h1 class="text-center mt-5 font - weight - bold">Feedback</h1>
                    <hr class="bg-white">
                    <h5 class="text-center">Please write your feedback below...</h5>
                    <h3 class="mt-4">How do you rate our overall experience?</h3>
        <form>
            <label class="radio-inline"><input type="radio" name="experience" value="bad">Bad</label>
            <label class="radio-inline"><input type="radio" name="experience" value="bad">Average</label>
            <label class="radio-inline"><input type="radio" name="experience" value="bad">Good</label>
    <div class="formbox">
        <div class="inputBox w50">
            <input type="text" name="" required>
            <span>Full Name*</span>
        </div>
        <div class="inputBox w50">
            <input type="number" name=""required>
            <span>Age*</span>
        </div>
        <div class="inputBox w50">
            <input type="text" name="" required>
            <span>Email Address*</span>
        </div>
        <div class="inputBox w50">
            <input type="text" name="" required>
            <span>Mobile Number*</span>
        </div>
        <div class="inputBox w100">
            <label class="col-md-8">Message<br>
                <textarea id="message"  placeholder="Write your message here" cols="48" rows="5"></textarea></label>
        </div>
        <div class="inputBox w50">
        <input type="Submit" value="Submit">
        
        </div>
        </div>
    </div>
</div> 
</div>
</div>
</div>
    </div>
</section>
</body>
{% endblock body %}