{% extends 'newsapp/base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>Forget Password</title>
<link rel="stylesheet" href="{% static 'newsapp/style.css' %}">
{% endblock %}

{% block body %}
<body>
<section>
    <div class="container">
        <div class="logo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy7cnRA3tIIQxk-cE-VtdpWt4xuFxP6LcN1A&usqp=CAU">
        </div>

<div class="ContactForm">

<h1 class="text-center mt-5 font - weight - bold">Forget Password?</h1>
                <hr class="bg-white">
            
                
                <h4 class="text-center">Facing Login Issues? Don't worry!
                    Enter the email address or phone number you registered with and you will be back in no time. </h4>
               
    
    <div class="inputBox w50">
        <input type="text/number" name="" required>
        <span>Username/Phonenumber/Email*</span>
    </div><br>

    <div class="formbox">
   
    <div class="inputBox w50">
        <input type="Submit" value="Submit">
    
        </div>
    <div>
        <span><h3>Need Help?</h3><a href="{% url 'contact-us' %}"> Contact Us</a></span>
    </div>
    </div>
</div>
</div> 
</div>
</div>
</div>
</div>
</section>

{% endblock body %}