{% extends 'newsapp/base.html' %}
{% load static %}
{% load materializecss %}
{% load crispy_forms_tags %}

<!-- Head -->
{% block head %}
<title>NewsApp - Register</title>
{% endblock %}


<!-- Body -->
{% block body %}
<style>.bg-gra-03 {
    background: -webkit-gradient(linear, left bottom, right top, from(#08aeea), to(#b721ff));
    background: -webkit-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -moz-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: -o-linear-gradient(bottom left, #08aeea 0%, #b721ff 100%);
    background: linear-gradient(to top right, #08aeea 0%, #b721ff 100%);
  }
  .white1{
      background-color: whitesmoke;
      border-radius: 2%;
  }
  </style>
  <body class="bg-gra-03"><br><br>
    <div class="container row white1 hoverable">
        <form action="" method="post" class="col s12">
            {% csrf_token %}
            <fieldset>
                <legend><h4>Join Today</h4></legend>
                {{ form|materializecss }}
                <br>
                <button class="btn waves-effect waves-light green" type="submit" name="action" style="margin-left: 10px; margin-bottom:15px">Sign Up
                    <i class="material-icons right">send</i>
                </button>
                <small style="margin-left:15px;">Already have an account ? <a href="{% url 'login' %}">Sign in</a></small>
            </fieldset><br>
        </form>
    </div><br>
</body>
{% endblock body %}