{% extends 'newsapp/base.html' %}
{% load static %}

<!-- Head -->
{% block head %}
<title>Sports</title>
{% endblock %}

<!-- Body -->

{% block body %}
<body><nav class="navbar navbar-expand-lg navbar-danger bg-danger ">
  <li class="nav-item">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSy7cnRA3tIIQxk-cE-VtdpWt4xuFxP6LcN1A&usqp=CAU" style="width: 80px;">
  </li>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-3" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="Sports2.html">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mr-3" href="#">Business</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Health</a>
            <a class="dropdown-item" href="#">Entertainment</a>
            <a class="dropdown-item" href="?#">Travel</a>
            <a class="dropdown-item" href="#">Politics</a>
          </div>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Type something" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


  


  <title>Sports</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  


  <section>
  <div class="card bg-light mb-3">
    <div class="row container mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="cric.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CSK Camp, Except Two, Test COVID-19 Negative. Team To Train From Friday: </h5>
                  <p class="card-text">Chennai Super Kings (CSK) squad will begin training from Friday in the United Arab Emirates after all of their members, except the two who tested positive, tested negative in the follow up test for coronavirus on Thursday.</p>
                  <a href="#" class="btn btn-primary ">Read More</a>
                  <p class="card-text mt-3"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        
      </div>    
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <div class="card mb-3" style="width: 18rem;">
                        <div class="card-header">Stock Updates</div>
                        <div class="card-body">
                          <h5 class="card-title">Sensex Falls Over 250 Points From Day's High As Financial, Energy Stocks Drop</h5>
                          <p class="card-text">Domestic stock markets gave up early gains on Thursday, amid selling pressure in banking, financial services and energy stocks. The S&amp;P BSE Sensex index dropped as much as 259.73 points from the strongest level of the day to hit 38,976.63 on the downside in early afternoon deals. The broader NSE Nifty 50 benchmark dropped to as low as 11,514.80, receding from an intraday high of 11,584.95. At 12:12 pm, the Sensex traded at 38,987.00, down 99.03 points - or 0.25 per cent - from its previous close, while the Nifty was up 5.10 points - or 0.04 per cent - at 11,540.10. </p>
                        </div>
            </div>      
            </div>
        </div>  
        
        <div class="row container mt-5">
            <div class="col-md-1"></div>
            <div class="col-md-9">
                <h2>This is the head</h2>
            </div>
   
            <div class="col-md-1"></div>
            <div class="col-md-1">
                <div class="card mb-3" style="width: 18rem;">
                    <div class="card-header">AD</div>
                    <div class="card-body">
                      <h5 class="card-title">Advertisment</h5>
                      <p class="card-text">The rupee ddomestic equities continued to put pressure on the rupee, say</p>
                    </div>
                </div>    
            </div>
        </div>

       <div class="row container mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="fot.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">UEFA Nations League: Jose Luis Gaya's Last-Gasp Goal Gives Spain 1-1 Draw Against Germany</h5>
                  <p class="card-text">Jose Luis Gaya's late goal gave Spain a 1-1 draw away in Germany on Thursday as the start of the UEFA Nations League marked the return of international football in Europe following a hiatus of 10 months due to the coronavirus pandemic. </p>
                  <a href="#" class="btn btn-primary">More</a>
                </div>
              </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="badmi.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">"Bravo": Dominic Thiem Applauds Sumit Nagal's Stunning Forehand Winner.</h5>
                  <p class="card-text">India's Sumit Nagal failed to spoil the party for birthday boy Dominic Thiem on Thursday, but still managed to grab eyeballs thanks to his dogged performance in the US Open second round match at the Arthur Ashe Stadium. Thiem, who turned 27, eased to a 6-3, 6-3, 6-2 win to set up a third-round clash against 2014 US Open champion Marin Cilic.</p>
                  <a href="#" class="btn btn-primary">More</a>
                </div>
              </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card" style="width: 18rem;">
                <img src="for.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lewis Hamilton Admits To "Lonely, Difficult Days"</h5>
                  <p class="card-text">Lewis Hamilton on Thursday urged people to continue discussing their mental health and said, based on his personal experience, that it was a strength and not a weakness for people to show their vulnerability. The championship leader and six-time world champion said he experienced "difficult days" in his own life, explaining that this season's run of triple-header race weekends meant that he was often lonely and grateful for contact from his family.</p>
                  <a href="#" class="btn btn-primary">More</a>
                </div>
              </div>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-1">
            <div class="card mb-3" style="width: 18rem;">
                <div class="card-header">Currency</div>
                <div class="card-body">
                  <h5 class="card-title">Rupee Closes At 73.47 Against Dollar, Extends Losses To Second Day</h5>
                  <p class="card-text">The rupee dropped by 44 paise - or 0.60 per cent - to close at 73.47 against the US dollar on Thursday. It moved within a 21-paise range, between 73.21 and 73.48 during the four-hour session before ending near its intraday low. Strength in the greenback and weakness in domestic equities continued to put pressure on the rupee, say analysts.</p>
                </div>
            </div>    
        </div>
    </div>
  </div>
  </section>
             
    <footer class="navbar navbar-danger bg-danger mt-5">
        <a class="navbar-brand" href="#">Terms of Use</a>
        <a class="navbar-brand" href="#">Privacy Policy</a>
        <a class="navbar-brand" href="#">Contact Us</a>
        <a class="navbar-brand" href="#">Help</a>
      
      </footer>

</body>
{% endblock body %}